<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.fs.plugin.sample"
    version="1.0.0">

    <name>SamplePlugin</name>

  <description>
    Cordova plugin example
  </description>

  <asset src="www/SamplePlugin.js" target="plugins/SamplePlugin.js" />

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
	    <feature name="SamplePlugin">
	        <param name="android-package" value="com.fs.plugin.sample"/>
	    </feature>
    </config-file>

    <source-file src="src/android/com/fs/plugin/SamplePlugin.java" target-dir="src/com/fs/plugin" />
  </platform>

  <!-- more platforms here -->

</plugin>
